apiVersion: v1
kind: Secret
metadata:
  name: flickr-photo-search
type: Opaque
data:
  flickr-api-key:
  memcache-host:
  memcache-port:
  backend-host: ZmxpY2tycGhvdG9zZWFyY2gtYmFja2VuZAo=
  backend-port: MTgwMDAK
